<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <style>
      body {
        background-color: gray;
      }
      h1 {
        padding:15px;
        border: 0 1px 1px 0 solid black;
        box-shadow: 12px 12px 12px black;
        margin: 0 auto;
        color: rgba(255,255,255,0.3);
        text-align: center;
      }
    </style>
  </head>
  <body>    
    <h1>Página de Inicio de SAC con {{ title }}</h1>
    <p></p>
  </body>
</html>
